.box {
    width: 300px;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.redText{
    color: red;
}
.blackText{
    color: black;
}.aquaText{
    color: aqua;
}
.blackText{
    color: black;
}